<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
	  <link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Home</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
                <a href="/addBooks">Add Books</a>
			{{else}}
				<a href="/login">Log in</a>
                <a href="/register">Register</a>
			{{/if}}
		</header>
	<main>
		<p>This is the home page.</p>
       <p>Hello {{authorised}}</p>
	</main>
	</body>
</html>
