<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
	  <link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Home</h1>
		</header>
	<main>
       <p>Hello {{name.fname}} - {{name.lname}}</p>
        <p>Sorry, you do not have access to this page</p>
  </main>
	</body>
</html>
